<div class="row">
    <div class="col-md">
        <h1 class="page-header">Vehicles</h1>
    </div>
    <div class="col-md">
        <button class="btn btn-lg rounded-circle btn-primary float-right">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
    </div>
</div>

<ul class="nav nav-tabs">

    <li class="nav-item">
        <a class="nav-link active" href="#">Inventory</a>
    </li>
</ul>
