<div class="row">
    <div class="col-md">
        <h1 class="page-header">Vehicles</h1>
    </div>
    <div class="col-md">
        <%= link_to new_vehicle_path, class: "btn btn-lg rounded-circle btn-primary float-right" do %> 
            <i class="fa fa-plus" aria-hidden="true"></i>
        <% end %>
    </div>
</div>

<ul class="nav nav-tabs" style="margin-bottom: 30px">

    <li class="nav-item">
        <a class="nav-link active" href="#">Inventory</a>
    </li>
</ul>


<table class="table">
    <thead class="thead-light">
        <tr>
            <th>Make</th>
            <th>Model</th>
        </tr>
    </thead>

    <tbody>
        <%= render @vehicles %>
    </tbody>
</table>
