#page-navbar {
    margin-bottom: 30px;
}

h1.page-header {
    margin-bottom: 30px;
}

.margin-30 {
    margin-bottom: 30px;
}

.margin-25 {
    margin-bottom: 25px;
}

.margin-20 {
    margin-bottom: 20px;
}

.margin-15 {
    margin-bottom: 15px;
}

